This notebook finds the average recovery period of Covid-19 disease in Kerala.

In [150]:
import pandas as pd
import matplotlib.pyplot as plt

In [151]:
dta = pd.read_csv('chronoPositiv.csv')
dta.head(5)

,Date,District,PersonType,NumberOfPatients,PresentStatus,Remarks,DischargedDate
0,09/03/20,Thrissur,native,1,negative,discharged,17/03/20
1,09/03/20,Alappuzha,native,1,negative,discharged,17/03/20
2,09/03/20,Kasargod,native,1,negative,discharged,17/04/20
3,09/03/20,Pathanamthitta,native,5,negative,discharged,01/04/20
4,09/03/20,Ernakulam,native,1,negative,discharged,27/03/20

In [152]:
dta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 7 columns):
Date                254 non-null object
District            254 non-null object
PersonType          254 non-null object
NumberOfPatients    254 non-null int64
PresentStatus       254 non-null object
Remarks             254 non-null object
DischargedDate      192 non-null object
dtypes: int64(1), object(6)
memory usage: 14.0+ KB

In [153]:
# 'Date' column is in object format.Change that into datetime.
dta['Date'] = pd.to_datetime(dta['Date'], dayfirst=True) #


# 'DischargedDate' column is in object format.Change that into datetime.
dta['DischargedDate'] = pd.to_datetime(dta['DischargedDate'], dayfirst=True) #


# setting index to 'Date'
dta.set_index('Date',inplace=True)

#
print(dta.info())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 254 entries, 2020-03-09 to 2020-04-20
Data columns (total 6 columns):
District            254 non-null object
PersonType          254 non-null object
NumberOfPatients    254 non-null int64
PresentStatus       254 non-null object
Remarks             254 non-null object
DischargedDate      192 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 13.9+ KB
None

In [154]:
dta.head(5)

,District,PersonType,NumberOfPatients,PresentStatus,Remarks,DischargedDate
Date,,,,,,
2020-03-09,Thrissur,native,1,negative,discharged,2020-03-17
2020-03-09,Alappuzha,native,1,negative,discharged,2020-03-17
2020-03-09,Kasargod,native,1,negative,discharged,2020-04-17
2020-03-09,Pathanamthitta,native,5,negative,discharged,2020-04-01
2020-03-09,Ernakulam,native,1,negative,discharged,2020-03-27

In [155]:
# details of discharged patients taken separately.
dscharg = dta[(dta.Remarks =='discharged')]

In [156]:
# function to find average recovery time.

def avgRecovTime():
    # Create a null list for recovery period of patients.
    recoveryTime =  []
    
    for i in range(0,len(dscharg)):
        t = dscharg.DischargedDate[i] - dscharg.index[i]
        recoveryTime.append(t.days)   # Taking only 'days' portion of the timestamp.
    
    # Creating new column 'recoveryTime' in dscharg dataframe.
    dscharg['recoveryTime'] = recoveryTime      
    
    # Finding average recovery period.
    sop = 0
    for i in range(0,len(dscharg)):
        sop = sop + (dscharg.NumberOfPatients[i] * dscharg.recoveryTime[i])
    
    avg = sop/(dscharg.NumberOfPatients.sum())
    return(print('Average recovery period = ', avg, 'days'))

avgRecovTime()

Average recovery period =  15.647260273972602 days

/home/sandeep/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':